<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>FCM 토큰 서버 테스트</title>
</head>
<body>
<p></p>
<p></p>
<input type="text" id="user_id" placeholder="ID 입력">

<p></p>
<button id="login">로그인</button>
<button id="logout">로그아웃</button>
<p></p>
<p></p>

<script type="module">
    import { initializeApp } from "https://www.gstatic.com/firebasejs/9.2.0/firebase-app.js";
    import { getMessaging, getToken, onMessage } from "https://www.gstatic.com/firebasejs/9.2.0/firebase-messaging.js";

    // // push-server-test-sdk
    // const Config = {
    //     apiKey: "AIzaSyDKt7kqWMLYzlIS07PM0EP0VQfIYuboAV4",
    //     authDomain: "push-server-test-28616.firebaseapp.com",
    //     projectId: "push-server-test-28616",
    //     storageBucket: "push-server-test-28616.appspot.com",
    //     messagingSenderId: "892251042492",
    //     appId: "1:892251042492:web:f5a019a669dc64315216b9",
    //     measurementId: "G-2KR1652P3W"
    // };

    // multiple-sdk
    const Config = {
        apiKey: "AIzaSyBOwcZiLbZdfb3_1-WOECs5xL5sEptn-EI",
        authDomain: "multiple-bb7d7.firebaseapp.com",
        projectId: "multiple-bb7d7",
        storageBucket: "multiple-bb7d7.appspot.com",
        messagingSenderId: "24465679384",
        appId: "1:24465679384:web:dabfc26452ad7ff88c4f6d",
        measurementId: "G-0489SV026H"
    }

    // firebase 초기화
    const app = initializeApp(Config);

    const messaging = getMessaging(app);

    const login = document.getElementById("login");

    const logout = document.getElementById("logout");


    // 토큰 출력
    getToken(messaging,{
        //웹 인증서
        // push-server-test
        //vapidKey:"BDi_r4npsKOzzBEEADqtzJPcrdlmrsn5NUQjXELm5M1uKpZcs-KcePh9j4IlX_9BP_ntIrAha_VHPYHy5MpwcAc"
        // multiple
        vapidKey:"BEIJsm-7IfV1kccjrmx-PYLtxoFcTx0lpcduHr3AmgHwuPHfkMkDshODMyJC-K60O8sfmTsGJglqCbGrpIQb4tk"
    }).then((currentToken) => {
        if(currentToken){

            console.log(currentToken);

            localStorage.setItem("token",currentToken);

        }else {
            // Show permission request UI
            console.log("No registration token available. Request permission to generate one.");
            // ...
        }
    }).catch((err) => {
        console.log("An error occurred while retrieving token. ", err);
        // ...
    });

    // token
    const token = localStorage.getItem("token");

    // 로그인 시 토큰 저장
    login.addEventListener('click', () => {

        // user_id
        const user_id = document.getElementById("user_id").value;
        // 세션에 유저아이디 저장
        localStorage.setItem("user_id",user_id);

        //date
        const today = new Date();

        const year = today.getFullYear();
        const month = ('0' + (today.getMonth() + 1)).slice(-2);
        const day = ('0' + today.getDate()).slice(-2);
        const hours = ('0' + today.getHours()).slice(-2);
        const minutes = ('0' + today.getMinutes()).slice(-2);
        const seconds = ('0' + today.getSeconds()).slice(-2);
        const dateString = year + '-' + month + '-' + day + ' ' + hours + ':' + minutes + ':' + seconds;



        // saveToken reqeust param
        saveToken({
            service_key : 1,
            user_id : user_id,
            device_token : token,
            user_type : "체험회원",
            platform : 'android',
            reg_dt : dateString,
            notification_status : true,
            login_status : true
        });

        // fetch client/token/save
        function saveToken(data) {
            fetch('http://localhost:8080/push/client/token/save', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => {
                    if (response.ok) {
                        console.log('Success');
                        console.log(data);

                    } else {
                        console.log('Failed');
                    }
                })
                .catch(error => {
                    console.log('Error ', error);
                });
        }
    });

    //로그아웃 시 토큰 삭제
    logout.addEventListener('click', () => {
        getToken(messaging,{
            //웹 인증서
            vapidKey:"BDi_r4npsKOzzBEEADqtzJPcrdlmrsn5NUQjXELm5M1uKpZcs-KcePh9j4IlX_9BP_ntIrAha_VHPYHy5MpwcAc"
        }).then((currentToken) => {
            if(currentToken){

                console.log(currentToken);
                // user_id
                const user_id = document.getElementById("user_id").value;

                // fetch api 호출 : id, token 전달
                delToken({
                    service_key : 1,
                    user_id : user_id,
                    device_token : currentToken,
                    notification_status : false,
                    login_status : false
                });

                // fetch client/token/delete
                function delToken(data) {
                    fetch('http://localhost:8080/push/client/token/delete', {
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        },
                        body: JSON.stringify(data)
                    })
                        .then(response => {
                            if (response.ok) {
                                console.log('Success');
                                console.log(data);

                            } else {
                                console.log('Failed');
                            }
                        })
                        .catch(error => {
                            console.log('Error ', error);
                        });
                }


            }else {
                // Show permission request UI
                console.log("No registration token available. Request permission to generate one.");
                // ...
            }
        }).catch((err) => {
            console.log("An error occurred while retrieving token. ", err);
            // ...
        });


    });


    //포그라운드 메시지 수신
    onMessage(messaging, (payload) => {
        console.log("Message received. ", payload);
        // ...

        document.getElementById("title").innerText=payload.notification.title;
        document.getElementById("body").innerText=payload.notification.body;

    });



</script>
<!--firebase config -->
<script>
    if ('serviceWorker' in navigator) {
        window.addEventListener('load', () => {
            navigator.serviceWorker.register('/firebase-messaging-sw.js');
        });
    }
</script>
</body>
</html>